*{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    
    }
    
    header{
        background-color: white;
        width: 300px;
        padding: 10px;
        margin: auto;
        box-shadow: 3px 3px 5px black;
        margin-bottom: 30px;
        text-align: center;
    
    }
    
    main{
        width: 750px;
        padding: 20px;
        background-color: white;
        box-shadow: 3px 3px 5px black;
        margin: auto;
    
    }
    body{
    
        background-color: rgb(165, 161, 161);
    }
    
    .contatos{
        padding: 30px;
        width: 750px;
        background-color: white;
        box-shadow: 3px 3px 5px black;
        margin: auto;
    }
    
    .mim{
        display: flex;
        flex-direction: row;
        margin: auto;
    }
    .ma{
        background-color: white;
        padding: 30px;
        box-shadow: 3px 3px 5px black;
        margin: auto;
        width: 1700px;
        margin-top: 30px;
        text-align: center;
    }